<div class="row">
    <div class="container col-12">
        <h1 class="aboutme">Sobre mim</h1>
        <p class="aboutcontent">
            Meu nome é Valdomiro, tenho 28 anos, ao longo da vida
            trabalhei em áreas relacionadas ao comércio e produção em fábricas,
            mas no ano de 2021 por intermédio de um amigo conheci o universo da programação
            e me apaixonei por essa área. <br>
            O que mais me encantou foi o fato de ser uma área muito criativa
            e de aprendizado sem fim. <br>
            Fiz alguns cursos na internet sobre: HTML, CSS, Javascript, TypeScript e Angular. <br>
            Tenho ciência de que isso é somente o começo e estou sempre em busca de aprender
            cada vez mais sobre esse fascinante universo da tecnologia.

        </p>
    </div>
    
    <img class="image" src="../assets/work.png" alt="people working">
   
</div>