.container{
    position:relative;
    top:170px;
    height:700px;
    background-color:#876bf5;
    margin:0;
}

.aboutme{
    color:#fff;
    font-size: 3em;
    font-family: 'Open Sans';
    margin-top: 50px;
    margin-left: 200px;
    
}

.aboutcontent{
    color:#fff;
    font-family: 'Open Sans-light';
    font-size:1.8em;
    margin-top:50px;
    margin-left:50px;
    width:600px;

}

.image{
    position:absolute;
    width:600px;
    height:600px;
    left:700px;
    top:700px;
}
