<div class="container">
        <ul class="col-1">
            <li><a href="https://github.com/93shrx" target="_blank" alt="Github profile"><i
                        class="fa fa-github hvr-bob"></i></a></li>
            <li><a href="https://www.linkedin.com/in/valdomiro-alves-batista-junior-a533701ba/" target="_blank"
                    alt="Linkedin profile"><i class="fa fa-linkedin hvr-bob"></i></a></li>
            <li><a href="https://www.instagram.com/shrx93/" target="_blank" alt="Instagram profile"><i
                        class="fa fa-instagram hvr-bob"></i></a></li>
        </ul>
</div>